section#about
  header.page-header: h1 O projektu
  
  h3 Zdroje informací
  ul.resources
    li <strong><a href="assets/slides.pdf">Zápisky z přednášek</a></strong>, Libor Škarvada, Václav Brožek
    li <strong><a href="assets/paradigmata.pdf">Úvod do paradigmat programování</a></strong>, 1994, Univerzita Palackého v Olomouci Katedra Informatiky, David Skoupil
    li <strong><a href="assets/paradigmata-2007.pdf">Úvod do paradigmat programování</a></strong>, 2007, Univerzita Palackého v Olomouci Katedra Informatiky, David Skoupil
    li <strong><a href="assets/PB006-pb006-zkouska-predtermin-18-12-2012.txt">PB006-pb006-zkouska-predtermin-18-12-201</a></strong>, 26.12.2012, fi.muny.cz
    li <strong><a href="assets/PB006-pb006-vypisky-ze-slidu.pdf">PB006-pb006-vypisky-ze-slidu</a></strong>, 26.12.2012, fi.muny.cz
    li <strong><a href="assets/PB006-principy.pdf">PB006-principy</a></strong>, výtažky z fóra
    li <strong><a href="assets/PB006-jazyky.pdf">PB006-jazyky</a></strong>
    li <strong><a href="assets/PB006-pb006-20-12-11-predtermin.txt">PB006-pb006-20-12-11-predtermin</a></strong>
    li <strong><a href="assets/PB006-predtermin-14.12.2010.txt">PB006-predtermin-14.12.2010</a></strong>
    li <strong>prehled_jazyku.doc</strong>, fi.muny.cz
    li + Oficiální fórum předmětu
    
  h3 Disclaimer
  p Studenti studentům... nic víc, nic míň.