section#about
  header.page-header: h1 O projektu
  
  h3 Zdroje informací
  ul.resources
    li <strong>Zápisky z přednášek</strong>, Libor Škarvada, Václav Brožek
    li <strong>Úvod do paradigmat programování</strong>, 1994, Univerzita Palackého v Olomouci Katedra Informatiky, David Skoupil
    li <strong>Úvod do paradigmat programování</strong>, 2007, Univerzita Palackého v Olomouci Katedra Informatiky, David Skoupil
    li <strong>PB006-pb006-zkouska-predtermin-18-12-201</strong>, 26.12.2012, fi.muny.cz
    li <strong>PB006-pb006-vypisky-ze-slidu.pdf</strong>, 26.12.2012, fi.muny.cz
    li <strong>prehled_jazyku.doc</strong>, fi.muny.cz
    
  h3 Disclaimer
  p Nic na tomto webu o sobě netvrdí, že je to pravda.