section#funkcionalni
  header.page-header: h1 Funkcionální
  
  p Patří k deklarativním paradigmatům.

  h3 Rysy funkcionálních jazyků
  ul
    li Nerozlišuje stavy, výpočet je jednostavový. Nemá tedy selektory složek stavu, tj. přepisovatelné proměnné.
    li jazyky vycházejí z lambda kalkulu nebo kombinátorového kalkulu, tedy pracují především s funkcemi a funkce jsou hodnotami „první kategorie“.
    li Vysoká míra ortogonality.

    li bohatý typový systém – parametrický polymorfismus, typové funkce a třídy
    li uživatelské typy
    li definice podle vzoru
    li funkce vyššího řádu, kombinátory
    li líné vyhodnocování, nekonečné datové struktury
  
  h2 Sémantika funkcionálního jazyka
  img(src='img/screenshots/ishot-50.png', width=500)
  img(src='img/screenshots/ishot-51.png', width=500)
  img(src='img/screenshots/ishot-52.png', width=500)
  img(src='img/screenshots/ishot-53.png', width=500)
  img(src='img/screenshots/ishot-54.png', width=500)
  img(src='img/screenshots/ishot-55.png', width=300)
  img(src='img/screenshots/ishot-56.png', width=300)
  img(src='img/screenshots/ishot-57.png', width=500)
  img(src='img/screenshots/ishot-58.png', width=500)
  img(src='img/screenshots/ishot-59.png', width=500)
  img(src='img/screenshots/ishot-60.png', width=500)
  img(src='img/screenshots/ishot-61.png', width=500)
  img(src='img/screenshots/ishot-62.png', width=500)
  img(src='img/screenshots/ishot-63.png', width=500)
  img(src='img/screenshots/ishot-64.png', width=500)

  hr
  h2 Funkcionální jazyky
  
  h4 LISP
  p (LISt Processing) – John McCarthy, konec 50. let
  p jednoduchá syntax, stejná pro data i algoritmy – homoikonický jazyk
  p není čistě funkcionální
  p netypovaný
  p dynamická viditelnost
  p dialekty: AutoLisp, eLisp, . . .

  h4 Scheme
  p netypovaný jazyk vycházející z Lispu, 80. léta
  p syntax podobná Lispu; statická viditelnost, striktní vyhodnocování, streamy

  h4 ML
  p typovaný jazyk, konec 70. let, Edinburgh
  p striktní vyhodnocování
  p dialekty: CaML, OCaML

  h4 Erlang
  p dynamicky typovaný jazyk se striktním vyhodnocováním
  p konstrukce pro podporu paralelního vyhodnocování

  h4 Haskell
  p čistě funkcionální, modulární, líně vyhodnocovaný
  p čisté začlenění imperativních konstrukcí do referenčně transparentního jazyka pomocí monadických typů a operací
 