doctype 5
html
  head
    meta(charset='utf-8')
    title PB006 - Principy programovacích jazyků - Příručka studenta
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor/jquery-1.8.3.min.js')
    script(src='js/vendor/bootstrap.js')
    script
      $(function() {
        // $('#sidebar').scrollspy();
      });
    script
        var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackClick","trackForm","pageview","ab"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
        analytics.load("bns6repwxv");
  body
    //- Header
    div.jumbotron.masthead
      div.container
        h1 PB006
        p Ultimate guide to PB006
        ul.masthead-links
          li: a(href="http://www.fi.muni.cz/~libor/vyuka/PB006/") Oficiální stránky předmětu

    //- Page
    div.container
      div.row
        //- Fixed navigation
        div.span2
          ul#sidebar.nav.nav-list("data-spy"="affix","data-offset-top"="290")
            li: a(href="#about") O projektu
            li: a(href="#uvod") Úvod
            li: a(href="#jazyky") Jazyky 
            li: a(href="#historie") Historie 
            li: a(href="#klasifikace") Klasifikace 
            li: a(href="#syntax") Syntax 
            li: a(href="#semantika") Sémantika
            li: a(href="#typy") Typy 
            li: a(href="#vyrazy") Výrazy
            li: a(href="#pamet") Pamět
            li: a(href="#logicke") Logické
            li: a(href="#funkcionalni") Funkcionální
            li: a(href="#soubeznost") Souběžnost
            li: a(href="#viditelnost") Viditelnost 
            li: a(href="#zkouska") Zkouška
        //- Content
        div.span10
          include about
          include uvod
          include jazyky
          include historie
          include klasifikace
          include syntax
          include semantika
          include typy
          include vyrazy
          include pamet
          include logicke
          include funkcionalni
          include soubeznost
          include viditelnost
          include zkouska
        