section#jazyky
  header.page-header: h1 Přehled jazyků
  
  h2 Přehled jazyků
  table.table.table-bordered
    thead
      tr
        th Jazyk
        th Paradigma
        th Typování
        th Vlastnosti
    tbody
      tr
        td Pascal
        td imper
        td X
        td blokovy, modularni
      tr
        td Cobol
        td imper
        td ?
        td pro ucetni a financni operace
      tr
        td Pascal
        td imper
        td X
        td blokovy, modularni

      tr
        td Cobol
        td imper
        td ?
        td pro ucetni a financni operace

      tr
        td C
        td imper
        td ?
        td modularni

      tr￼
        td Mercury
        td funkc + logic
        td X
        td multiparadigmaticky, param. polymorf.

      tr
        td Haskell
        td funkc
        td X
        td line vyhod. , modularni, param. polymorf.

      tr
        td Scheme
        td funkc
        td -
        td striktni vyhod, staticka viditelnost

      tr￼
        td ML
        td funkc
        td X
        td striktni vyhod, param. polym
  
      tr
        td Lisp
        td funkc
        td -
        td dynam. viditelnost, homoikonicky jazyk

      tr
        td Erlang
        td funkc
        td X
        td striktni vyhod, podporuje paral. vyhodnocovani a distribut. spracovani

      tr
        td Opal
        td funkc
        td ?
        td striktne vyhod, modularni

      tr
        td Godel
        td logic
        td X
        td param. polymorf, modularni struktura

      tr
        td Prolog
        td logic
        td -
        td plocha struktura a viditelnost
      ￼
      tr 
        td Eiffel
        td oo
        td ?
        td X
      ￼
      tr
        td Java
        td oo
        td X
        td bytovy kod,pro program. mikroproces., modularni

      tr
        td Ruby
        td oo
        td X
        td interpretovany bytovy kod

      tr
        td Python
        td oo
        td X
        td interpretovany bytovy kod

      tr
        td Smalltalk
        td oo
        td -￼
        td prototyp oo jazyku, netypovany

      tr
        td Simula67
        td oo
        td ?
        td nejstarsi oo jazyk

      tr
        td C++
        td oo
        td X
        td puvodne jen rozsireni C pomoci makrojazyka cpp
      ￼
      tr
        td Assembler
        td ?
        td ?
        td casto dopln. makrojazykem, strojovo orientovany
    
  
  section.row
    article.span5
      h4 Pascal
      p Pascal je ve své původní formě čistým procedurálním, imperativním jazykem, obsahující skupinu řídicích konstrukcí jako je for, while, if, then, else, převzaté z ALGOLu.
      p Dovoluje kontextově nezávislé přetížení.
      p Blokový (v jeho čisté formě), modulární jazyk.
      
    article.span5
      h4 Fortran (FORmula TRANslation)
      p Jazyk pro překlad matematických výrazů
      p Před interpretací procesorem musel být nejprve přeložen
      
    article.span5
      h4 Haskell
      p Haskell je standardizovaný funkcionální, modulární programovací jazyk používající líné vyhodnocování. Jazyk se rychle vyvíjí, především díky svým implementacím Hugs a GHC.
      p Dodržuje referenční transparentnost, přísné typování proměnný.
      p Je parametricky polymorfní.
      p Dovoluje kontextově nezávislé přetížení.
      
    article.span5
      h4 C++
      p C++ je objektově orientovaný programovací jazyk, vyvinutý v Bellových laboratořích AT&T rozšířením jazyka C. C++ podporuje několik programovacích stylů (paradigmat) jako je procedurální programování, objektově orientované programování a generické programování, není tedy jazykem čistě objektovým. V současné době patří C++ mezi nejrozšířenější programovací jazyky.

    article.span5
      h4 Prolog
      p Prolog je logický, netypový programovací jazyk. Patří mezi deklarativní programovací jazyky, ve kterých programátor popisuje pouze cíl výpočtu, přičemž přesný postup, jakým se k výsledku program dostane, je ponechán na libovůli systému. Prolog se snaží o pokud možno abstraktní vyjádření faktů a logických vztahů mezi nimi s potlačením imperativní složky. Prolog je založen na predikátové logice prvního řádu. Základními využívanými přístupy jsou unifikace, rekurze a backtracking.
      p Jde o nejvíce rozšířený logický jazyk.
      p Má plochou strukturu a viditelnost, tzn. že všechny predikáty jsou globální a všechny proměnné jsou lokální (v klauzuli).
      
    article.span5
      h4 Eiffel
      p Eiffel je čistě objektově orientovaný programovací jazyk. Je to jazyk typovaný.
      
    article.span5
      h4 Mercury
      p Merkury je multiparadigmatický – logicky funkcionální jazyk. Má parametrický polymorfismus.
      
    article.span5
      h4 Scheme
      p Scheme je multiparadigmatický programovací jazyk. Scheme je jeden ze dvou hlavních dialektů funkcionálního programovacího jazyka Lisp.
      p Je netypovaný.
      p Oproti Lispu se Scheme snaží o minimalismus - poskytovat co nejmenší počet základních funkcí, na nichž jsou pak v knihovnách postaveny složitější konstrukce. Díky tomu má dosud poslední reference jazyka jen 50 stran.
      p Nejznámější implementací je grafický editor GIMP, jehož dodatečné zásuvné moduly a skripty jsou psány v dialektu jazyka Scheme.
      p Má striktní vyhodnocování a statickou viditelnost.
      
    article.span5
      h4 Gödel
      p Gödel je v deklarativní programovací jazyk, který dodržuje logické programovací paradigma. Jedná se o silně typový jazyk, jehož systém je založen na mnohotříděné logice s parametrickým polymorfismem.
      p Gödel má modulární systém, který podporuje libovolnou přesnost celých čísel, racionálních čísel a čísel s pohyblivou desetinnou čárkou.
        
    article.span5
      h4 Java
      p Java je objektově orientovaný programovací jazyk.
      p Je velmi dobře přenositelný (přenositelnost je zajištěna překladem do bytového kódu) a proto je používán pro programy, které mají pracovat na různých systémech. Java bude dále vyvíjena jako open source.
      p Jde o modulární jazyk.
        
    article.span5
      h4 Erlang
      p Erlang je funkcionální programovací jazyk. Nyní jako open source.
      p Je dynamicky typovaný jazyk se striktním vyhodnocováním konstrukce pro podporu paralelního vyhodnocování.
        
    article.span5
      h4 C
      p C je programovací jazyk, vyvinutý pro potřeby operačního systému Unix. C je nízkoúrovňový, kompilovaný, relativně minimalistický programovací jazyk.
      p Ukládání dat je v C řešeno třemi základními způsoby: statickou alokací paměti (při překladu), automatickou alokací paměti na zásobníku a dynamickou alokací na haldě (heap) pomocí knihovních funkcí. Existují zde ukazatele nezávisle na proměnných, na které odkazují, a je na odpovědnosti programátora, aby neukazovaly na paměť nealokovanou.
      p Jde o jazyk modulární a imperativní.
        
    article.span5
      h4 ML
      p ML je funkcionální, typovaný jazyk se striktním vyhodnocováním.
      p Má parametrický polymorfismus.
        
    article.span5
      h4 Smalltalk
      p Smalltalk je interpretovaný, dynamicky a striktně typovaný (ve skriptech je ale uvedeno, že je netypovaný), čistě objektový programovací jazyk – prototyp.

    article.span5
      h4 LISP
      p LISP je funkcionální – ne ale čistě, programovací jazyk. Stále se používá v oboru umělá inteligence. Používá ho také například textový editor Emacs či konstrukční program AutoCAD.
      p Původně navrhnut jako programovací jazyk pro matematické výpočty a byl silně ovlivněn syntaxí Lambda kalkulu. 
      p Lisp nevnímá rozdíl mezi kódem a daty, díky čemuž má jednoduchou syntaxi. Celý program je tak složen z s-výrazů nebo ozávorkovaných seznamů ve tvaru (f a b c), kde na prvním místě je operátor/funkce a na dalších argumenty funkce. Všechny další funkce jazyka mají identickou syntaxi.
      p Z Lispu jsou odvozeny i další jazyky - například Tcl, Smalltalk nebo Scheme.
      p Používá dynamickou viditelnost.
        
    article.span5
      h4 Cobol
      p Jazyk Cobol byl vyvinut společným úsilím výrobců a uživatelů počítačů ve spolupráci s ministerstvem obrany USA.
      p Zápis jazyka je blízký angličtině.
      p Jde o imperativní jazyk.
        
    article.span5
      h4 Ruby
      p Ruby je interpretovaný skriptovací programovací jazyk.
      p Bytový kód.
      p Je plně objektově orientovaný  vše v Ruby je objekt.
