section#logicke
  header.page-header: h1 Logické programování

  p Patří mezi deklarativní paradigmata.
  p Logické programy popisují vztahy mezi hodnotami pomocí tzv. Hornových klausulí. Program se skládá ze <strong>seznamu klausulí</strong> (teorie) a z <strong>formule</strong> (cíle, dotazu). <strong>Výpočet</strong> je hledáním tzv. splňujících substitucí, tj. takových ohodnocení proměnných z cíle, při nichž cíl vyplývá (lze odvodit) z teorie.
  p
    | Abstraktní syntax prototypového logického jazyka:
    img(src='img/screenshots/ishot-30.png', width=500)

  p
    img(src='img/screenshots/ishot-31.png', width=500)
    img(src='img/screenshots/ishot-32.png', width=400)
    img(src='img/screenshots/ishot-33.png', width=500)
    img(src='img/screenshots/ishot-34.png', width=500)
  
  h4 Termy
  p: img(src='img/screenshots/ishot-35.png', width=500)
  
  h4 Klausule
  p: img(src='img/screenshots/ishot-36.png', width=400)

  h4 Dotaz
  p: img(src='img/screenshots/ishot-37.png', width=250)

  p
    img(src='img/screenshots/ishot-38.png', width=500)
    img(src='img/screenshots/ishot-38.png', width=500)
    img(src='img/screenshots/ishot-40.png', width=500)
  
  
  hr
  h2 Sémantika logického programu
  
  h4 Substituce
  p
    img(src='img/screenshots/ishot-41.png', width=500)
    img(src='img/screenshots/ishot-42.png', width=500)
  
  h4 Sémantika
  p
    img(src='img/screenshots/ishot-43.png', width=500)
    img(src='img/screenshots/ishot-44.png', width=500)
  
  h4 Řízení výpočtu
  p
    img(src='img/screenshots/ishot-45.png', width=500)
    img(src='img/screenshots/ishot-46.png', width=500)
  

  h2 Logické jazyky

  h3 Prolog
  img(src='img/screenshots/ishot-47.png', width=300)


  h3 Gödel
  img(src='img/screenshots/ishot-48.png', width=500)

  h3 Mercury
  img(src='img/screenshots/ishot-49.png', width=400)


  hr
  h2 Aplikace logického programování
  ul
    li zpracování pˇrirozeného jazyka
    li expertní systémy
    li symbolická manipulace s výrazy, ˇrešení rovnic
    li simulace

  h3 Výhody
  ul
    li vyšší úrovenˇ, tj. program je bližší popisu problému než implementaci
    li logika programu oddeˇlena od ˇrízení výpocˇtu
    li snazší du ̊kazy korektnosti
  
  h3 Nevýhody
  ul
    li efektivita
    li nevýhodné pro aplikace s intenzivním I/O