section#uvod
  header.page-header: h1 Úvod
  
  section#uvod_kvalita
    header: h3 Kvalita
    blockquote
      p Testováním lze dosáhnout korektnosti programu pouze tehdy, pokud se zaměříme na jeho vnitřní strukturu.
      small E. W. Dijkstra
  
    h4 Vnější faktory kvality programu
    ul
      li <strong>Správnost</strong> - chopnost programů přesně vykonávat svou úlohu tak, jak je definována v požadavcích zadavatele.
      li <strong>Robustnost</strong> - schopnost programů fungovat i v abnormálních podmínkách. Princip <strong>graceful degradation</strong>
      li <strong>Rozšiřitelnost</strong> - snadné přizpůsobení novým podmínkám
      li <strong>Rychlost</strong>
      li <strong>Efektivnost</strong>
      li <strong>Kompatibilita</strong>
      li <strong>Univerzálnost</strong>